// style for all forms
.personal-form-details {
    position: relative;
    margin: auto;
    padding: 0;

    .personal-grid-form {
        margin: auto 70px;

        .row {
            position: relative;
            margin: auto;
            width: 100%;
            padding-top: 20px;

            .image-form-box {

                img {
                    width: 80%;
                    margin: 0;
                    padding-top: 50px;
                }
            }
            .form-input-box {
                position: relative;
                margin: auto;
                padding-top: 20px;

                h1 {
                    font-family: 'Unbounded', sans-serif;
                    color: #1c907c;
                    margin-bottom: 20px;
                    font-size: 1.7rem;
                }
                form {
                    text-align: center;
                    margin: auto;

                    input[type=text],
                    button[type=submit] {
                        width: 80%;
                        padding: 9px;
                        border: 1px ridge #ccc;
                        outline: none;
                        border-radius: 6px;
                        margin-top: -5px;
                    }
                    button[type=submit] {
                        border: none;
                        background-color: #f4910e;
                        margin-bottom: 10px;
                        margin-top: -5px;
                    }
                    input[type=date] {
                        width: 80%;
                        padding: 8px;
                        border: 1px ridge #ccc;
                        outline: none;
                        border-radius: 6px;
                        color: #7e7575;
                    }
                    p {
                        margin-bottom: -23px;
                        color: #ff0000;
                        text-align: left;
                        margin-left: 10%;
                    }
                    p.google-page {
                        background-color: linear-gradient(to top, rgb(255, 255, 255), rgba(229, 238, 236, 0.8));
                        border-radius: 6px;
                        width: 80%;
                        margin: 10px auto 5px;
                        padding: 8px;
                        margin-top: -3px;
                        text-align: center;
                        border: 1px ridge #f4910e;
                        color: inherit;
                        
                        a {
                            text-decoration: none;
                            color: inherit;
    
                            span {
                                color: #1c907c;
                                font-weight: bold;
                            }
    
                            img {
                                width: 30px;
                                margin-left: 15px;
                            }
                        }
                    }
                    p.google-page:hover {
                        border: 1px ridge #1c907c;
                    }
                }
                p.login-page {
                    color: inherit;
                    margin-top: 8px;
                    text-align: center;

                    a {
                        color: #1c907c;
                        font-weight: bold;
                        text-decoration: none;
                    }
                }
            }
        }
    }
    p.t-c {
        text-align: center;
        font-size: 1rem;
        padding: 30px 30px 0;

        a {
            color: inherit;
        }
    }
}

// media screen for tablet
@media screen and (max-width: 1180px) {
    .personal-form-details {
        .personal-grid-form {
            margin: auto;

            .row {
                .image-form-box {
    
                    img {
                        width: 90%;
                    }
                }
            }
        }
    }
}

// 
@media screen and (max-width: 991.33px) {
    .personal-form-details {
        .personal-grid-form {
            .row {
                .image-form-box {
                    text-align: center;
    
                    img {
                        width: 40%;
                        text-align: center;
                        margin-bottom: 30px;
                    }
                }
                .form-input-box {
                    h1 {
                        font-size: 1.7rem;
                    }
                }
            }
        }
    }
}

// media for mobile
@media screen and (max-width: 541.33px) {
    .personal-form-details {
        .personal-grid-form {
            .row {
                .image-form-box {
    
                    img {
                        width: 35%;
                    }
                }
                .form-input-box {

                    form {
                        p.google-page,
                        input[type=text],
                        input[type=date],
                        button[type=submit] {
                            width: 95%;
                        }
                    }
                }
            }
        }
    }
}
